<nav class="nav">
  <div class="nav-inner">
    <a href="/" class="nav-logo">Lucas<span>.</span></a>
    <ul class="nav-links">
      <li><a href="/estudiante" class="<%= currentPath.startsWith('/estudiante') ? 'active' : '' %>">Apuntes</a></li>
    </ul>
  </div>
</nav>
